/* 基础样式 */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* 页眉样式 */
header {
    background: #4CAF50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 3px solid #3e8e41;
}

header h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

header nav {
    margin-top: 10px;
}

header ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

header li {
    margin: 0 15px;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header .highlight, header .current a {
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

/* 主内容区域样式 */
.main {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.main h2 {
    color: #333;
    background-color: #e8f5e9;
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.main p, .main ul {
    margin: 10px 0;
}

.main ul {
    list-style-type: square;
    padding-left: 20px;
}

/* 页脚样式 */
footer {
    background: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}